</body>
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container-footer p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4" style="padding-bottom: 10px;">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button" target="_blank"
        ><i class="fab fa-facebook-f" ></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button" target="_blank"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/museedesastres/" role="button" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/BlackbirdShadow/projet-1-AppWebTrans" role="button" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <!-- Admin -->
      <a class="btn btn-outline-light btn-floating m-1" href="/admin" role="button"
      ><i class="fas fa-user-lock"></i
      ></a>
    
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #182030">
    
    © 2022 Copyright:
    <a class="text-white" href="/">Musee Des Astres</a>
  </div>
  <!-- Copyright -->
</footer>
