<meta charset="UTF-8">
<title> Musée des Astres </title>

<link rel="icon" href="/images/logo_plain.png">

<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/style.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>