<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
	<div class="container-fluid">
	  <a class="navbar-brand" href="/"><img class="navlogo" src="images/logo_text.png" alt="Musée des Astres"/></a>
	  <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span> 
	  </button> 

	  <div class="navbar-collapse offcanvas-collapse" id="navbar">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link navsection" aria-current="page" href="/">Acceuil</a>
		  </li>

		  <li class="nav-item dropdown navsection">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Activités</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item navsoussection" href="/expo">Expositions temporaires</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item navsoussection" href="/experiences">Experiences à vivre</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item navsoussection" href="/rdv_etoiles">Rendez-vous sous les étoiles</a>
			</div>
		  </li>

		  <li class="nav-item dropdown navsection">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Nos informations</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item navsoussection" href="/plan">Plan interactif</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item navsoussection" href="/info">Où nous trouver</a>
			</div>
		  </li>

		  <li class="nav-item navsection">
			<a class="nav-link navsection" href="/reservation">Planifier votre visite</a>
		  </li>

		  <li class="nav-item navsection">
			<a class="nav-link navsection" href="/boutique">Boutique</a>
		  </li>
		  
		</ul>

	  </div>
	</div> 
  </nav>
  