<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="http://localhost:4000/"><img src="images/logo_text.png"  width="250px" alt="Musée des Astres" style="margin-left: 30px!important"/></a>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarsExample07" style="padding-top:50px; margin-bottom: -10px;">
		<ul class="navbar-nav align-items-end me-auto">
		 <li class="nav-item">
			<a class="nav-link navsection" aria-current="page" href="/">Accueil</a>
		  </li>

			<li class="nav-item dropdown navsection">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Expériences</a>
			<div class="dropdown-menu">
				<a class="dropdown-item navsoussection" href="/expositions">Expositions saisonnières</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item navsoussection" href="/experiences">Activités</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item navsoussection" href="/rdv_etoiles"><i>Rendez-vous sous les étoiles</i></a>
			</div>
			</li>

			<li class="nav-item dropdown navsection">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Information</a>
			<div class="dropdown-menu">
				<a class="dropdown-item navsoussection" href="/plan">Plan du musée</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item navsoussection" href="/info">Coordonnées</a>
			</div>
			</li>

			<li class="nav-item navsection">
			<a class="nav-link navsection" href="/billeterie">Billetterie</a>
			</li>

			<li class="nav-item navsection">
			<a class="nav-link navsection" href="/boutique">Boutique</a>
			</li>
		</ul>
		<ul style="padding-top:10px;">
			<li class="nav-item navsection me-auto" style="margin-right: 30px!important;">
				<button type="button" class="btn btn-light" style="color: #182030;      vertical-align:middle;      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;      font-size: 120%;      height: fit-content;      margin-top: 2px;">
					<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#182030" class="bi bi-cart" viewBox="1.5 1.5 16 16">
	  					<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</svg>
					Panier
				  </button>
			</li>
	  </ul>
  </nav>