
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<style>
		a, a:hover, a:focus, a:active {
		text-decoration: none;
		color: inherit;
		}
		.popover{
			max-width: 400px;
			max-height: 400px;
		}
    	.main, .text-primary{
			color: #222d44!important;
		}
		.badge, .w-100{
			background-color: #222d44!important;
		}
		.cart-button{
			color: #222d44; vertical-align:middle; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;      font-size: 120%;      height: 45px; width: 110px;     margin-top: 2px;
		}
		.navsoussection{
			margin-top: 5px;
			margin-bottom: 5px;;
		}
		.navbar-toggler {
			fill: white!important;
		} 
	</style>

	<div class="container-fluid">
	<a id="content-desktop" class="navbar-brand" href="http://localhost:4000/"><img src="../../images/logo_text.png"  width="250px" alt="Musée des Astres" style="margin-left: 30px!important; margin-right: 30px;"/></a>
	<a id="content-mobile" class="navbar-brand" href="http://localhost:4000/"><img src="../../images/logo_text.png"  width="200px" alt="Musée des Astres" style="margin-left: 30px!important; margin-right: 30px; margin-top: -10px;"/></a>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNavDropdown" style="padding-top:50px; margin-bottom: -15px;">
		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="/">Accueil</a>
			</li>

		  <li class="nav-item dropdown" >
			<a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Expériences</a>
			<div class="dropdown-menu">
				<a class="dropdown-item navsoussection" href="/expositions">Expositions saisonnières</a>
				<a class="dropdown-item navsoussection" href="/activites">Activités</a>
				<a class="dropdown-item navsoussection" href="/rdv_etoiles"><i>Rendez-vous sous les étoiles</i></a>
			</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Information</a>
				<div class="dropdown-menu">
					<a class="dropdown-item navsoussection" href="/plan">Plan du musée</a>
					<a class="dropdown-item navsoussection" href="/info">Coordonnées</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/billeterie">Billetterie</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/boutique">Boutique</a>
			</li>
		</ul>

		<ul style="padding-top:10px; ">
			<li class="nav-item me-auto" style="margin-right: 30px!important;">
				<a  tabindex="0" id="content-desktop" role="button" data-toggle="popover_cart" data-bs-trigger="focus">
					<button class="btn btn-light cart-button position-relative">
					<i class="fa-solid fa-cart-shopping" style="color: #222d44;"></i>
					Panier
					<span id="cart-number" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="background-color: green!important;">
					  ...
					</span>
				  </button>
				</a>

			</a>
			</li>
	  </ul>
	  
	  </div>
	</div>
	<a href="/checkout" id="content-mobile" style="text-decoration: none; color: inherit; position: absolute; right: 0; top: 0; margin-right: 90px; margin-top: 22px; font-size: small;"><button class="btn btn-light cart-button position-relative"style="height:fit-content;width:fit-content;">
		<small class="fa-solid fa-cart-shopping" style="color: #222d44;"></small>
		Panier
		<span id="cart-number2" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="background-color: green!important;">
		  ...
			</span>
		</button>
	</a>

  </nav>

  <script>
	let num = document.getElementById('cart-number');
	let num2 = document.getElementById('cart-number2');

	if (localStorage.length > 0){
		num.style.display = "block";
		num2.style.display = "block";
		num.innerText = localStorage.length;
		num2.innerText = localStorage.length;
	}
	else{
		num.style.display = "none";
		num2.style.display = "none";
	}

  </script>
  <script>

  function getcart (){
	var headers = {"Content-Type": "application/json","Access-Control-Origin": "*", "Expires": ""}
	var data = [];
  for (let i = 0; i < localStorage.length; i++) {
	  data[i] = localStorage.getItem(i);
  };

			return fetch("/cart", {
			  method: "POST",
			  headers: headers,
			  body:  JSON.stringify((Object.assign({}, data)))
			})

			.then(response => response.json())
			.then(data => {
			  //create main cart node
			  let racine = document.createElement('div');
			  racine.classList.add('col-sm-12', 'order-md-last');

			  //create header cart node
			  let cartHeader = document.createElement('h4');
			  cartHeader.classList.add('d-flex', 'justify-content-between', 'align-items-center', 'mb-3');

			  //create header title cart node
			  let cartTitre = document.createElement('span');
			  cartTitre.classList.add('text-primary');
			  cartTitre.innerText= "Votre Panier";

			  //create header items cart node
			  let nbitems = document.createElement('span');
			  nbitems.classList.add('badge', 'bg-primary', 'rounded-pill');
			  nbitems.innerText = data.length;

			  //create list Items cart node
			  let listItems = document.createElement('ul');
			  listItems.classList.add('list-group','mb-3');

			  let prixTotHT = 0;
			  let i = 0;

			  for (const Items of data) {

				prixTotHT = prixTotHT + Items.prix * 100;

				let listItem = document.createElement('li');

				listItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'lh-sm');
				let indiv = document.createElement('div');

				let Titre = document.createElement('h6');
				Titre.classList.add('my-0');
				Titre.innerText = Items.titre;

				let Descrip = document.createElement('small');
				Descrip.classList.add('text-muted');
				Descrip.innerText = Items.desc;

				let Prix = document.createElement('span');
				Prix.classList.add('text-muted');
				Prix.innerText = "$ " +Items.prix;

				let Remove = document.createElement('button');
				Remove.type = 'button';
				Remove.classList.add('btn-close');
				Remove.ariaLabel='Close';
				Remove.setAttribute( "OnClick", "removeItemCart("+i+")");
				//Remove.onclick = removeItemCart(i);

				indiv.appendChild(Titre);
				indiv.appendChild(Descrip);

				listItem.appendChild(indiv);
				listItem.appendChild(Prix);
				listItem.appendChild(Remove);


				listItems.appendChild(listItem);
				i++;
			  }

			  prixTotHT = prixTotHT/100;

			  let total = document.createElement('li');
			  total.classList.add('list-group-item', 'd-flex', 'justify-content-between');

			  let textTotal = document.createElement('span');
			  textTotal.innerText = "Sous-total (CAD)";

			  let prixTotal = document.createElement('b');
			  prixTotal.innerText = "$ "+prixTotHT;

			  let divCartConfirm = document.createElement('div');
			  divCartConfirm.classList.add('d-flex');

				 let RemoveAll = document.createElement('button');
				 RemoveAll.type = 'button';
				 RemoveAll.classList.add('fa', 'fa-trash', 'flex-fill');
				 RemoveAll.ariaLabel='Close';
				 RemoveAll.ariaHidden= 'false';
				 RemoveAll.setAttribute( "OnClick", "removeAllCart()");



				let linkcheckout = document.createElement('a');
				linkcheckout.href = '/checkout'

				let btnCheckout = document.createElement('button');
				btnCheckout.classList.add('w-100', 'btn', 'btn-primary', 'btn-lg', 'flex-fill', 'me-3');
				btnCheckout.innerText ="Finaliser la commande";

				linkcheckout.appendChild(btnCheckout);


				total.appendChild(textTotal);
			  	total.appendChild(prixTotal);

				listItems.appendChild(total);

			  cartHeader.appendChild(cartTitre);
			  cartHeader.appendChild(nbitems);

				divCartConfirm.appendChild(btnCheckout)
				divCartConfirm.appendChild(RemoveAll);

			  racine.appendChild(cartHeader);
			  racine.appendChild(listItems);
			  racine.appendChild(divCartConfirm);

			  // racine.appendChild(linkcheckout);



			  return racine.outerHTML;
			})
			.catch(console.error);
  }

  </script>
<script>
    $(document).ready(async function () {
	getcart().then(data => {

		$('[data-toggle="popover_cart"]').popover({
			placement: 'bottom',
			trigger: 'focus',
			html: true,
			sanitize: false,
			animation:true,
			content: data
		});
	});
	});
</script>
<script>
	function removeItemCart(id){
		console.debug('remove ' + id)
		localStorage.removeItem(id);
		reformat();
		location.reload();
	}
	function removeAllCart(){
		localStorage.clear();
		location.reload();

	}

	function reformat(){

		for (let i = 0; i < localStorage.length; i++) {
			let j = i;
			while (localStorage.getItem(j) === null) {
				console.debug("j : " +j);
				j++;
			}
			console.debug(i + "			" + j);

			console.debug(localStorage);
			let value = localStorage.getItem(j);
			if (j!=i){
				localStorage.removeItem((j))
			}

			console.debug(value);
			localStorage.setItem(i,value);


			//localStorage.setItem(i, value);
		}
	}
</script>
