<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
	<a class="navbar-brand" href="http://localhost:4000/"><img src="images/logo_text.png"  width="250px" alt="Musée des Astres" style="margin-left: 30px!important"/></a>
	  
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNavDropdown" style="padding-top:50px; margin-bottom: -15px;">
		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="/">Accueil</a>
			</li>

		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Expériences</a>
			<div class="dropdown-menu">
				<a class="dropdown-item navsoussection" href="/expositions">Expositions saisonnières</a>
				<a class="dropdown-item navsoussection" href="/activites">Activités</a>
				<a class="dropdown-item navsoussection" href="/rdv_etoiles"><i>Rendez-vous sous les étoiles</i></a>
			</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Information</a>
				<div class="dropdown-menu">
					<a class="dropdown-item navsoussection" href="/plan">Plan du musée</a>
					<a class="dropdown-item navsoussection" href="/info">Coordonnées</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/billeterie">Billetterie</a>
			</li>
	
			<li class="nav-item">
				<a class="nav-link" href="/boutique">Boutique</a>
			</li>
		</ul>

		<ul style="padding-top:10px; ">
			<li class="nav-item me-auto" style="margin-right: 30px!important;">
				<a  tabindex="0" role="button" style="color: #182030; vertical-align:middle; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;      font-size: 120%;      height: 45px; width: 110px;     margin-top: 2px; overflow: hidden;"
					class="btn btn-light" data-toggle="popover_cart" title="Shopping Cart" data-bs-trigger="focus">
					<i class="fa-solid fa-cart-shopping" style="color: #182030;"></i>
					Panier
				</a>

				<a href="/checkout"><button style="color: #182030; vertical-align:middle; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;      font-size: 120%;      height: 45px; width: 110px;     margin-top: 2px; overflow: hidden;"
					class="btn btn-light" >
					<i class="fa-solid fa-cart-shopping" style="color: #182030;"></i>
					Panier
				</button>
			</a>
			</a>
			</li>
	  </ul>

	  </div>
	</div>
  </nav>

<script>
    $(document).ready(function () {
		$('[data-toggle="popover_cart"]').popover({
			placement: 'bottom',
			trigger: 'focus',
			html: true,
			sanitize: false,
			animation:true,
			content: '<div class="row g-5"> <div class="col-md-5 col-lg-4 order-md-last"> <h4 class="d-flex justify-content-between align-items-center mb-3"> <span class="text-primary">Your cart</span> <span class="badge bg-primary rounded-pill">3</span> </h4> <ul class="list-group mb-3"> <li class="list-group-item d-flex justify-content-between lh-sm"> <div> <h6 class="my-0">Product name</h6> <small class="text-muted">Brief description</small> </div> <span class="text-muted">$12</span> </li> <li class="list-group-item d-flex justify-content-between lh-sm"> <div> <h6 class="my-0">Second product</h6> <small class="text-muted">Brief description</small> </div> <span class="text-muted">$8</span> </li> <li class="list-group-item d-flex justify-content-between lh-sm"> <div> <h6 class="my-0">Third item</h6> <small class="text-muted">Brief description</small> </div> <span class="text-muted">$5</span> </li> <li class="list-group-item d-flex justify-content-between"> <span>Total (USD)</span> <strong>$20</strong> </li> </ul> </div>'
		});
	});


</script>