<%- include ('../../partials/header') %>

<style>

</style>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Météo</h1>
        <p class="lead text-muted">Cette page vous permet de mieux planifier toutes vos sorties nocturnes d'observation des astres, comme par exemple pour notre activité Rendez-Vous sous les Étoiles</p>
        <h1 class="fw-light" style="font-size: xx-large!important;">RDV sous les Étoiles</h1>
        <p class="lead text-muted">Dans cette activité spéciale, vous êtes invités à venir observer le ciel étoilé à notre observatoire. Vous allez avoir accès à notre télescope
        pour avoir une vision incroyable de la Voie Lactée et des planètes visibles, comme Mars, Venus, Jupiter ou Saturne. </p>
        <div class="reserve">
            <a href="/rdv_etoiles"> <button class="Bouton_Reserv">RDV sous les Étoiles</button></a>
        </div>
      </div>
    </div>
  </section>
  <div id="app"></div>
<script>

</script>
<%- include ('../../partials/footer') %>