<%- include ('../../partials/header') %>
<h1 style="margin-top: 15px; text-align: center;">Rendez-vous Sous Les Étoiles</h1>

<table>
    <tr>
        <td>
            <p style="margin-left: 15px; margin-top: 30px; margin-right: 50%;  text-align: left;">Dans cette activité spéciale, vous êtes invités à venir observer le ciel étoilé à notre observatoire. Vous allez avoir accès à notre télescope
                pour avoir une vision incroyable de notre Voie Lactée et des plannetes visibles, comme Mars et Venus, mais aussi Jupiter et Saturne. 
            </p>
        </td>
    </tr>
</table>
<p style="margin-left: 15px; margin-top: 30px; margin-right: 50%;  text-align: left;">Dans cette activité spéciale, vous êtes invités à venir observer le ciel étoilé à notre observatoire. Vous allez avoir accès à notre télescope
    pour avoir une vision incroyable de notre Voie Lactée et des plannetes visibles, comme Mars et Venus, mais aussi Jupiter et Saturne. 
</p>

<img src="/images/rdv/observatoire.jpg" alt="observatoire" style="margin-left: 65%; width: 500px; height: 400px; margin-bottom: 55px;">
<br>
<br>
<br>

<%- include ('../../partials/footer') %>