<%- include ('../../partials/header') %>

<style>
    .Bouton_Reserv {
 appearance: none;
 background-color: transparent;
 border: 0.125em solid #1A1A1A;
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: #3B3B3B;
 cursor: pointer;
 display: inline-block;
 font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 3.75em;
 min-width: 0;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.Bouton_Reserv:disabled {
 pointer-events: none;
}

.Bouton_Reserv:hover {
 color: #fff;
 background-color: #182030;
 box-shadow: rgba(#182030) 0 8px 15px;
 transform: translateY(-2px);
}

.Bouton_Reserv:active {
 box-shadow: none;
 transform: translateY(0);
}
.col{
    background: #182030;
    margin-right: auto;
    border-radius: 50px !important;
    font-family: 'Open Sans', sans-serif;
    margin-right: auto;
    width: 100%;
    padding: 2em;
    perspective: 1px;
    border: 2px;
    max-width: 420px;
}


body{
    background-image: "/backgroundrdv.jpg" !important;
    background: transparent;
}

</style>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Rendez-vous Sous Les Étoiles</h1>
        <p class="lead text-muted">Dans cette activité spéciale, vous êtes invités à venir observer le ciel étoilé à notre observatoire. Vous allez avoir accès à notre télescope
        pour avoir une vision incroyable de la Voie Lactée et des planètes visibles, comme Mars, Venus, Jupiter ou Saturne. </p>
        <p class="lead text-muted">Il est récommandé de résérver quand le ciel est dégagé.</p>  
        <div class="reserve">
            <a href="/billeterie"> <button class="Bouton_Reserv">Résérver</button></a>
        </div>
      </div>
    </div>
  </section>
  <div id="app"></div>
<script>
    function fetchData(){
        fetch("http://api.weatherapi.com/v1/forecast.json?key=2af0c9b4b7c04005957140735221204&q=Montreal&days=3&aqi=no&alerts=yes")
            .then(res => {
                return res.json();
            })
            .then(data => {
                console.log(data)
                const html = [data].map(weather =>{
                  return `<div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class = "col">
                            <h3 style = "color: #FFFFFF">Météo à Montréal</h3>
                            <div class = "MeteoAJD">
                                <div class = "temp" style = "color: #FFFFFF; font-size: 35px"> ${weather.current.temp_c}°C</div>
                                <div class = "feels_like" style = "color: #FFFFFF; margin-left: 55px">T. Réssentie ${weather.current.feelslike_c}°C</div>
                                <img src = ${weather.current.condition.icon}>
                                <div style = "color: #FFFFFF"> Coucher du Soleil: ${weather.forecast.forecastday[0].astro.sunset}</div>
                                <div class = "condition" style = "color: #FFFFFF"> ${weather.current.condition.text}</div>
                            </div>
                        </div>

                        <div class = "col">
                            <h3 style = "color: #FFFFFF">Météo demain</h3>
                            <div class = "MeteoDemain">
                                <div class = "temp card-text" style = "color: #FFFFFF; font-size: 35px">Max: ${weather.forecast.forecastday[1].day.maxtemp_c}°C</div>
                                <div class = "feels_like card-text" style = "color: #FFFFFF; margin-left: 55px">Min: ${weather.forecast.forecastday[1].day.mintemp_c}°C</div>
                                <img src = ${weather.forecast.forecastday[1].day.condition.icon}>
                                <div style = "color: #FFFFFF"> Coucher du Soleil: ${weather.forecast.forecastday[1].astro.sunset}</div>
                                <div class = "condition " style = "color: #FFFFFF"> ${weather.forecast.forecastday[1].day.condition.text}</div>
                            </div>
                        </div>    

                        <div class = "col">
                            <h3 style = "color: #FFFFFF">Météo après-demain</h3>
                            <div class = "MeteoDemain">
                                <div class = "temp" style = "color: #FFFFFF; font-size: 35px">Max: ${weather.forecast.forecastday[2].day.maxtemp_c}°C</div>
                                <div class = "feels_like" style = "color: #FFFFFF; margin-left: 55px">Min: ${weather.forecast.forecastday[2].day.mintemp_c}°C</div>
                                <img src = ${weather.forecast.forecastday[2].day.condition.icon}>
                                <div style = "color: #FFFFFF"> Coucher du Soleil: ${weather.forecast.forecastday[2].astro.sunset}</div>
                                <div class = "condition" style = "color: #FFFFFF"> ${weather.forecast.forecastday[2].day.condition.text}</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>` 
                }).join('');
                console.log(html);
                document.querySelector("#app").insertAdjacentHTML("afterbegin", html);
            })
            .catch(err =>{
                console.log(err)
            });
    }

    fetchData();
</script>
<%- include ('../../partials/footer') %>