.cls-1{
    fill: #506CF0!important;
    opacity: 60%;
}
.cls-1:hover{
    opacity: 100%;
    transition: all 0.2s ease-out;
}

.cls-2{
    fill: #D5FF5C!important;
    opacity: 60%;
}
.cls-2:hover{
    opacity: 100%;
    transition: all 0.2s ease-out;
}

.cls-3{
    fill: #08E95E!important;
    opacity: 60%;
}
.cls-3:hover{
    opacity: 100%;
    transition: all 0.2s ease-out;
}

.cls-4{
    fill: #E16DDC!important;
    opacity: 60%;
}
.cls-4:hover{
    opacity: 100%;
    transition: all 0.2s ease-out;
}
