/*navbar brand*/
.navbar-brand{
    padding-left: 5%;
    position: absolute;
    left: 0;
    text-align: left;
    margin:0 auto;
}

/*images in navbar brand*/
.navbar-brand > img{
    width:210px;
}

/*navbar menu*/
.navbar {
    width: 100%;
    height:fit-content;
    background-color: #182030!important;
    padding-bottom: 20px;
}

/*Menu text*/
.container-header{
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav > li > a 
{
    padding-top:33%;
    font-size: 130%;
    background: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 15px;
    color:white!important;
}

/*Menu text on hover*/
.navbar-nav > li > a:hover 
{
    color:#9cabc9!important;
}
 
/* Dropdown menu*/
.navbar-nav > li > div > a{
    font-size: 100%;
    color: #182030;
    background-color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Dropdown menu on hover*/
.navbar-nav > li > div > a:hover{
    font-size: 100%;
    color: #182030;
    background-color:#9cabc9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.construction-container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    height:400px;
}

.construction-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    text-align:left;
    color: #333333;
    margin-top:0px;
    line-height: 50%;
    padding-left: 50px;
    padding-top: 60px;
    
}

.retour-acceuil{
    margin-left: auto;
    margin-right: auto;
    width:fit-content; 
    color:#333333;
    padding-bottom:2%;
}

.container-footer{
    margin-bottom: -30px;
    height:auto;
}

.actu {
    position: relative;
    width: 100%;  
}
  
.actuImage {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.actuMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    text-align: center;
}
  
.actu:hover .actuImage {
    opacity: 0.5;
}
  
.actu:hover .actuMiddle {
    opacity: 1;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 100px;
}

footer{
    position:absolute;
    bottom:0px;
    width:100%;
}



.coord-container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    height:auto;
}

.coord-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:left;
    color: #333333;
    line-height: 120%;
    padding-left: 30px;
    
}

.vertical-line{
    background-color:#182030;
    width: 3px;
}

.maps-cell{
    padding-top:15px;
    padding-bottom:15px;
    padding-right:30px;
}

.s-flex-container{
    display:flex;
}


.detail{
    font-size: small;
}

#schedule{
    text-align: left; 
    padding-right: 50px;
}

#hour{
    text-align: right;
}

h5{
    line-height: 70%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-caption{
    background-color: RGBA(24,32,48,0.7);
    width: 100%;
    height: 30%;
    margin-left:-15%;
    margin-bottom: -5%;
}

.carousel-caption > p{
    font-style: italic;
}

.fw-light{
    color: #182030!important;
}


.wrap {
    padding: 1rem;
    height: 50vh;
  }


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  #permas {
    height: 250px;
    bottom: 0;
    background: white;
    position: absolute;
    overflow:hidden;
    overflow-y: hidden;
    white-space:nowrap;
    margin-bottom: 170px;
    /* added */
    left: 0;
    animation-name: scroll;
    animation-duration: 110s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  #permas img {
    height: 100%;
    margin-right: 10px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }