<%- include ('../partials/header') %>

<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
  <!-- Custom styles for this template -->
  <br>
  <link href="pricing.css" rel="stylesheet">
</head>
<body>
  
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
<symbol id="check" viewBox="0 0 16 16">
  <title>Check</title>
  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</symbol>
</svg>

<div class="container py-3">
<header>

  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Tarifs</h1>
  </div>
</header>
<% if (items !=undefined && items.length>0) {%>
<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    <% items.forEach(function(item,index){ %>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><%= item.TypePlans %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><%= item.PrixBillet %>$<small class="text-muted fw-light">/personne</small></h1>
          <button type="button" class="w-100 btn btn-lg btn-primary">Reserver</button>
        </div>
      </div>
    </div>
    <%}); %>
    <% }else {%>
        <p><strong> Non disponible </strong></p>
    <% } %>

  </div>

<%- include ('../partials/footer') %>