<%- include ('../partials/header') %>

<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
  <!-- Custom styles for this template -->
</head>
<body class="bg-light">
  
<div class="container">
<main>
  <div class="py-5 text-center">
    
    <h2>Finaliser l'achat</h2>
  </div>

  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last" id="cart">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Votre panier</span>
        <span class="badge bg-primary rounded-pill" id="nbItems">...</span>
      </h4>
      <ul class="list-group mb-3" id="list">
      </ul>

    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Informations de paiement</h4>
      <h5 class="mb-3 text-muted">L'adresse de livraison sera la même que l'adresse de paiement</h4>
      
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Un prénom valide est requis
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Nom</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Un nom valide est requis
            </div>
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Adresse courriel <span class="text-muted"></span></label>
            <input type="email" class="form-control" id="email" placeholder="adresse@email.com" required>
            <div class="invalid-feedback">
              Veuillez donner une adresse valide pour la confirmation et l'envoi des billets
            </div>
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Rue Principale" required>
            <div class="invalid-feedback">
              Veuillez rentrer votre adresse civique
            </div>
          </div>

          <div class="col-12">
            <label for="address2" class="form-label">Addresse 2 <span class="text-muted">(Optionel)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
          </div>

          <div class="col-md-5">
            <label for="country" class="form-label">Pays</label>
            <select class="form-select" id="country" required>
              <option value="">Choisir...</option>
              <option>Canada</option>
            </select>
            <div class="invalid-feedback">
              Veuillez choisir un pays valide
            </div>
          </div>

          <div class="col-md-4">
            <label for="state" class="form-label">Province/Territoire</label>
            <select class="form-select" id="state" required>
              <option value="">Choisir...</option>
              <option>Québec</option>
              <option>Terre-Neuve-et-Labrador</option>
              <option>Colombie-Britannique</option>
              <option>Alberta</option>
              <option>Saskatchewan</option>
              <option>Manitoba</option>
              <option>Ontario</option>
              <option>Nouveau-Brunswick</option>
              <option>Île-du-Prince-Édouard</option>
              <option>Nouvelle-Écosse</option>
              <option>Yukon</option>
              <option>Territoires du Nord-Ouest</option>
              <option>Nunavut</option>
            </select>
            <div class="invalid-feedback">
              Veuillez donner une province/territoire valide
            </div>
          </div>

          <div class="col-md-3">
            <label for="zip" class="form-label">Code postal</label>
            <input type="text" class="form-control" id="zip" placeholder="" required>
            <div class="invalid-feedback">
              Un code postal est requis
            </div>
          </div>
        </div>

        <hr class="my-4">

        <h4 class="mb-3">Paiement</h4>
        <div id="payment-select" class="my-3">
          <div class="form-check">
            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
            <label class="form-check-label" for="credit">Carte de crédit</label>
          </div>
          <div class="form-check">
            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
            <label class="form-check-label" for="paypal">PayPal</label>
          </div>
        </div>


      <div id="payment-card" style="display: none; height:200px!important;">
        <div  class="row gy-3">
          <div class="col-md-6">
            <label for="cc-name" class="form-label">Titulaire de la carte</label>
            <input type="text" class="form-control" id="cc-name" placeholder="John Doe" required>
            <small class="text-muted">Nom complet sur la carte</small>
            <div class="invalid-feedback">
              Le nom du titulaire sur la carte est requis
            </div>
          </div>

          <div class="col-md-6">
            <label for="cc-number" class="form-label">Numéro de carte de crédit</label>
            <input type="text" class="form-control" id="cc-number" placeholder="XXXX XXXX XXXX XXXX" required>
            <div class="invalid-feedback">
              Le numéro de carte de crédit est requis
            </div>
          </div>

          <div class="col-md-3">
            <label for="cc-expiration" class="form-label">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="DD/MM" required>
            <div class="invalid-feedback">
              La date d'expiration est requise
            </div>
          </div>

          <div class="col-md-3">
            <label for="cc-cvv" class="form-label">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="XXX" required>
            <div class="invalid-feedback">
              Code de sécurité requis
            </div>
          </div>
        </div>
      </div>
      
      <div id="payment-paypal" style="display: none; height:200px!important;">
        <div  class="row gy-3">
          <a href="https://www.paypal.com/pe/home" style="height: fit-content; width: fit-content;  margin: auto; padding-top: 20px;" target="_blank"><img src="/images/paypal_button.png" style="width: 400px;" alt="Pay with PayPal button"></a>
        </div>
      </div>
      
      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit">Confirmer la transaction</button>
      </form>
    </div>
  </div>
</main>

</div>
<br><br>

<script src="https://getbootstrap.com/docs/5.0/examples/checkout/form-validation.js"></script>

<script>
  function paymentToggle(){
    if($('#credit').is(':checked')) {
      document.getElementById('payment-paypal').style.display = 'none';
      document.getElementById('payment-card').style.display = 'block';
   }
   if($('#paypal').is(':checked')) {
      document.getElementById('payment-paypal').style.display = 'block';
      document.getElementById('payment-card').style.display = 'none';
   }
  }

  $('#payment-select').click(function() {
    paymentToggle();
  });
  window.onload = function() {
    paymentToggle();
  };
  
</script>

<script> 
var headers = {"Content-Type": "application/json","Access-Control-Origin": "*", "Expires": ""}
  var data = [];
for (let i = 0; i < sessionStorage.length; i++) {
    data[i] = sessionStorage.getItem(i);
};
          
          fetch("/cart", {
            method: "POST",
            headers: headers,
            body:  JSON.stringify((Object.assign({}, data)))
          })

          .then(response => response.json())
          .then(data => {

            let racine = document.getElementById('cart');
            let nbitems = document.getElementById('nbItems');

            let listItems = document.getElementById('list');

            nbitems.innerText = data.length;
            
            let prixTotHT = 0;
            
            for (const Items of data) {
              
              prixTotHT= (prixTotHT * 100 + Items.prix * 100)/100;

              let listItem = document.createElement('li');
              
              listItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'lh-sm');

              let indiv = document.createElement('div');

              let Titre = document.createElement('h6');
              Titre.classList.add('my-0');
              Titre.innerText = Items.titre;

              let Descrip = document.createElement('small');
              Descrip.classList.add('text-muted');
              Descrip.innerText = Items.desc;

              let Prix = document.createElement('span');
              Prix.classList.add('text-muted');
              Prix.innerText = "$ " +Items.prix;

              indiv.appendChild(Titre);
              indiv.appendChild(Descrip);

              listItem.appendChild(indiv);
              listItem.appendChild(Prix);
              
              listItems.appendChild(listItem);
            }

            let sousTotal = document.createElement('li');
			      sousTotal.classList.add('list-group-item', 'd-flex', 'justify-content-between');

			      let textsousTotal = document.createElement('span');
			      textsousTotal.innerText = "Sous-total";

			      let prixsousTotal = document.createElement('span');
			      prixsousTotal.innerText = "$ "+Number(prixTotHT).toFixed(2);
            
            let TPS = document.createElement('li');
            TPS.classList.add('list-group-item',  'd-flex', 'justify-content-between');

            let textTPS = document.createElement('i');
            textTPS.innerText = "TPS";

            let prixTPSnum = Number(prixTotHT * 0.055).toFixed(2);

            let prixTPS = document.createElement('span');
            prixTPS.innerText = "$ "+prixTPSnum;

            let TVQ = document.createElement('li');
            TVQ.classList.add('list-group-item', 'd-flex', 'justify-content-between');

            let textTVQ = document.createElement('i');
            textTVQ.innerText = "TVQ";

            let prixTVQnum = Number(prixTotHT * 0.09975).toFixed(2);

            let prixTVQ = document.createElement('span');
            prixTVQ.innerText = "$ "+ prixTVQnum;

            let total = document.createElement('li');
            total.classList.add('list-group-item', 'd-flex', 'justify-content-between');

            let textTotal = document.createElement('b');
            textTotal.innerText = "Total (CAD)";

            let totalnum = (Number(prixTotHT) + Number(prixTPSnum) + Number(prixTVQnum)).toFixed(2);

            let prixTotal = document.createElement('strong');
            prixTotal.innerText = "$ "+totalnum;

            sousTotal.appendChild(textsousTotal);
            sousTotal.appendChild(prixsousTotal);

            TPS.appendChild(textTPS);
            TPS.appendChild(prixTPS);

            TVQ.appendChild(textTVQ);
            TVQ.appendChild(prixTVQ);


            total.appendChild(textTotal);
            total.appendChild(prixTotal);

            listItems.appendChild(sousTotal);
            listItems.appendChild(TPS);
            listItems.appendChild(TVQ);
            listItems.appendChild(total);


          })
          .catch(console.error);
</script>

<%- include ('../partials/footer') %>