<%- include ('../partials/header') %>

<div class="construction-container">
    <div style="float:left;">
        <image src="images/fusee.png" alt="En Construction" width="300"></image>
    </div>
    <div style="float:right;">
        <p class="construction-text">Page</p>
        <p class="construction-text">En</p>
        <p class="construction-text">Construction</p>
        
    </div>
</div>
<a href="http://localhost:4000/">
    <h3 class="retour-acceuil"><i>Revenir à l'acceuil</i></h3>
</a>
<br>

<%- include ('../partials/footer') %>