<%- include ('../partials/header') %>

    <table class="coord-container">
        <tr>
            <td>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22356.89139999833!2d-73.69347616044921!3d45.538024500000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9188f20b115b7%3A0x9ff096f63fa10692!2sCollege%20of%20Bois-de-Boulogne!5e0!3m2!1sen!2sca!4v1645822860104!5m2!1sen!2sca"
                    width="600" height="600" style="border:0;" class="maps-cell" allowfullscreen=""
                    loading="lazy">
                </iframe>
            </td>
            <td class="vertical-line"></td>
            <td class="coord-text">
                <h1><b>Musée des Astres</b></h1><br>
                <h2>10555 Ave de Bois-de-Boulogne<br>Montreal (Quebec)<br>Canada - H4N 1L4</h2>
                <br>
                <h4><i>(555) 555-5555<br><a href="mailto:museedesastres@gmail.com">museedesastres@gmail.com</a></i></4  >
                <br>
                <h3><b>Heures d'ouverture:</b></h3>

                <p class="detail"><i>Le guichet ferme à 4h30pm</i></p>

                <table>
                    <tr><th id="schedule">Mardi au Vendredi</th><td id="hour">10am - 5pm</td></tr>
                    <tr><th id="schedule">Samedi et Dimanche</th><td id = "hour">11am - 6pm</td></tr>
                    <tr><th id="schedule">Lundi</th><td id = "hour">Fermé</td ></tr>
                    <tr><th id="schedule"><br><h5><b>Boutique:</b></h5></th></tr>
                    <tr><th id="schedule">Mardi au Vendredi</th><td id = "hour">12am - 4pm</td></tr>
                    <tr><th id="schedule">Samedi et Dimanche</th><td id = "hour">12am - 5pm</td></tr>
                    <tr><th id="schedule"><br><h5><b>Bistro:</b></h5></th></tr>
                    <tr><th id="schedule">Jeudi et Vendredi</th><td id = "hour">12am - 2pm</td></tr>
                    <tr><th id="schedule">Samedi et Dimanche</th><td id = "hour">11am - 2pm</td></tr>
                </table>
            </th>
        </tr>
    </table>

    <br><br><br><br>

    <%- include ('../partials/footer') %>
